---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Benefits from "../components/Benefits.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>
  <Navbar />
  <Hero />
  <div class="section-divider"></div>
  <Services />
  <div class="section-divider divider-superior"></div>
  <Benefits />
  <div class="section-divider divider-inferior"></div>
  <Testimonials />
  <div class="section-divider"></div>
  <Contact />
  <Footer />
</MainLayout>