<section class="container">
  <h2>¿Por qué una landing page?</h2>

  <div class="grid">
    <div>Más conversiones</div>
    <div>Ultra rápida</div>
    <div>Segura</div>
    <div>Menos costos</div>
  </div>
</section>
